.footer-top{
    background-color: #3D3D3D;
}

.footer-top .under-line{
    height: 3px;
}
.footer-top li{
    list-style: none;
}

/* footer-bottom */
.footer-bottom{
    background-color: #2F2F2F;
}